<?xml version="1.0" encoding="utf-8" standalone="no" ?>

 <!--	JSTOOLS SCRIPT MODULE CONFIGURATION
		Contains the configuration capabilities of the JSTools. You can extend this sections
		with your own configuration entries. A configuration node must contain a valid type
		attribute and the specified type should have a poperty, which describes the name of
		the configuration node.

		All script configuration sections are immutable.
		
		CAUTION:
		An error will occure, if the ASP.NET user has no read and execute permissions on the
		specified file.
 -->
<configuration>

	<!--	SCRIPT FILE LOADER CONFIGURATION
			
	-->
	<scriptFileLoader
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns="http://www.jstools.net/#scriptFileLoader"
		requires="JSTools.Web"
		scriptFileLocation="/{0}"
		insertAppPrefix="true"
		encodeFileLocation="false"
		type="JSTools.Config.ScriptLoader.JSScriptLoaderHandlerFactory, JSTools.Config">
	</scriptFileLoader>

	<!--	EXCEPTION HANDLING CONFIGURATION
			Describes the behaviour of the client, if a JavaScript exception occurs.

			The exceptionHandling node can accommodate the following attributes:
				errorHandling:
					None, Throw, Catch
	-->
	<exceptionHandling
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns="http://www.jstools.net/#exceptionHandling"
		requires="JSTools.ExceptionHandling"
		errorProvider="window.onerror"
		errorHandling="None"
		type="JSTools.Config.ExceptionHandling.JSExceptionHandlerFactory, JSTools.Config">

		<event
			log="true"
			error="true"
			warn="true"
			/>
	</exceptionHandling>

	<!--	SCRIPT MANAGEMENT CONFIGURATION
			Contains the script management configuration capabilities of the JSTools.net FrameWork.
			
			The scripts node can accommodate the following attributes:
				language:		Script language for the &lt;script /&gt; tag. (e.g. javascript / vbscript / ...)
				version:		Script version for the &lt;script /&gt; tag. (e.g. 1.5 / 1.3 / 1.2 / ...)
				src:			Source, where the script files are stored in the file system. (e.g. C:\wwwroot\scripts)
				debug:			Specifies if the script should be crunched and additional debug informations
								should be rendered.
								The debug attribute can accomodate three values:
								 - File
								   The whole source files will be rendered to the client. This
								   feature is not supported by netscape 4.x. Use module instead.
								   This debug level represents the development mode.
								 - Module
								   The whole source files of a module will be written into one
								   file which will be rendered to the client.
								   This debug level represents the test mode.
								 - None
								   The source files of a module will be crunched and written into
								   one file which will be renderd to the client.
								   This debug level represents the release mode.
				contentType:	Content type of the generated script files. The content type of static script files
								are platform dependent.
				extension:		Script file extension. The given extension should be handled by the asp.net environment.

			A module can contain files and sub modules. If the client requests a module with the
			using() directive, the server will deliver only the files belonging to the module.
			The functionality of a module may use some other functionalities on other modules.
			To check if these required modules exist, you can add a <requires> node (<requires module="" />).
			This is not necessary but it is a good practice to evaluate the existence of all required
			modules before the client is evaluating the requested module.
			
			All source files contained in a module will be crunched in one file, if the debug flag is
			set to false. Otherwise the server will create one file which contains the content of the
			original source files belonging to the module.
	-->
	<scripts
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns="http://www.jstools.net/#scripts"
		version="1.3"
		language="JavaScript"
		debug="File"
		extension="js"
		contentType="application/x-javascript"
		src="D:\pages\webs\JSTools.JavaScript"
		type="JSTools.Config.ScriptFileManagement.JSScriptFileHandlerFactory, JSTools.Config">

		<!--	MODULE DESCRIPTION
				A module contains files. Only directly accomodated files will be rendered. The script files
				are rendered in the sort order, as you have specified them.
		-->
		
		<!-- module JSTools -->
		<module name="JSTools" default="true">
			<requires module="JSTools.Reflection" />
			<requires module="JSTools.Web.Browser" />

			<file src="NameSpace.js" />
			<file src="Core.js" />
			<file src="String.js" />
			<file src="Object.js" />
			<file src="Function.js" />
			<file src="Array.js" />

			<!-- module JSTools.Util -->
			<module name="Util" default="true">
				<file src="StringConverter.js" />
				<file src="Guid.js" />
				<file src="Hashtable.js" />
				<file src="SimpleObjectSerializer.js" />
			</module>
			
			<!-- module JSTools.Enum -->
			<module name="Enum" default="true">
				<file src="FlagsEnum.js" />
				<file src="StringEnum.js" />
			</module>

			<!-- module JSTools.Reflection -->
			<module name="Reflection" default="true">
				<requires module="JSTools.Enum" />
				<requires module="JSTools.Util" />

				<file src="MemberProtector.js" />
				<file src="IMemberInfo.js" />
				<file src="MethodInfo.js" />
				<file src="FieldInfo.js" />
				<file src="TypeParser.js" />
				<file src="Type.js" />
			</module>

			<!-- module JSTools.Event -->
			<module name="Event" default="true">
				<requires module="JSTools.Reflection" />

				<file src="IObserver.js" />
				<file src="FunctionObserver.js" />
				<file src="MethodInfoObserver.js" />
				<file src="Subject.js" />
				<file src="SubjectList.js" />
			</module>

			<!-- module JSTools.ExceptionHandling -->
			<module name="ExceptionHandling" default="true">
				<requires module="JSTools.Enum" />
				<requires module="JSTools.Event" />

				<file src="StackTrace.js" />
				<file src="Exception.js" />
				<file src="Handler.js" />
			</module>

			<!-- module JSTools.Timers -->
			<module name="Timers">
				<requires module="JSTools.Event" />
				<requires module="JSTools.Reflection" />

				<file src="Timer.js" />
				<file src="Timeout.js" />
			</module>

			<!-- module JSTools.Web -->
			<module name="Web" default="true">
				<requires module="JSTools.Util" />
				
				<file src="Element.js" />
				<file src="ScriptLoaderEngine.js" />
				<file src="ImageContainer.js" />
				<file src="QueryStringParser.js" />

				<!-- module JSTools.Web.Browser -->
				<module name="Browser" default="true">
					<file src="BrowserType.js" />
					<file src="DefaultBrowserType.js" />
					<file src="BrowserCapabilities.js" />
				</module>

				<!-- module JSTools.Web.Cookie -->
				<module name="Cookie">
					<file src="CookieData.js" />
					<file src="CookieCollection.js" />
				</module>

				<!--
				<module name="Diagnostics">
					<file src="ConsoleErrorMessage.js" />
					<file src="ConsoleMessage.js" />
					<file src="ConsoleStyle.js" />
					<file src="ConsoleWriter.js" />
					<file src="Exception.js" />
					<file src="TypeVisualizer.js" />
				</module>

				<module name="Form">
					<requires module="JSTools.Web.Layer" />
					<file src="FormValidator.js" />
				</module>

				<module name="Layer">
					<file src="BaseLayerConstructor.js" />
					<file src="BaseLayerGetter.js" />
					<file src="BaseLayerSetter.js" />
					<file src="BaseModelFactory.js" />
					<file src="ILayerValueContainer.js" />
					<file src="LayerClip.js" />
					<file src="LayerContainer.js" />
					<file src="LayerEvents.js" />
					<file src="LayerFactoryDescription.js" />
					<file src="LayerHandler.js" />
					<file src="LayerOriginalValues.js" />

					<module name="DOM">
						<file src="DomLayerConstructor.js" />
						<file src="DomLayerGetter.js" />
						<file src="DomLayerSetter.js" />
						<file src="DomModelFactory.js" />
					</module>

					<module name="IE">
						<requires module="JSTools.Web.Layer.DOM" />
						<file src="IeLayerConstructor.js" />
						<file src="IeLayerGetter.js" />
						<file src="IeModelFactory.js" />
					</module>
				</module>

				<module name="Window">
					<file src="WindowErrorArgument.js" />
					<file src="WindowEvent.js" />
					<file src="WindowOpener.js" />
					<file src="WindowOptions.js" />
				</module>
				-->
			</module>
		</module>
	</scripts>
</configuration>