<?xml version="1.0" encoding="utf-8" standalone="no" ?>

<!DOCTYPE configuration [
	<!ELEMENT configuration ANY>
	<!ELEMENT exception     EMPTY>
	<!ELEMENT scripts       (module)*>
	<!ELEMENT file          (#PCDATA)>
	<!ELEMENT requires      EMPTY>
	<!ELEMENT module        (module|file|requires)*>

	<!ATTLIST exception log             (true|false)	#REQUIRED>
	<!ATTLIST exception alert           (true|false)	#REQUIRED>
	<!ATTLIST exception catch           (true|false)	#REQUIRED>
	<!ATTLIST exception requires        CDATA			#REQUIRED>
	<!ATTLIST exception type            CDATA			#REQUIRED>
	<!ATTLIST scripts   type            CDATA			#REQUIRED>
	<!ATTLIST scripts   debug           (true|false)	#REQUIRED>
	<!ATTLIST scripts   version         CDATA			#REQUIRED>
	<!ATTLIST scripts   debugSource     CDATA			#REQUIRED>
	<!ATTLIST scripts   releaseSource   CDATA			#REQUIRED>
	<!ATTLIST scripts   language        CDATA			"javascript">
	<!ATTLIST file      src             CDATA			#IMPLIED>
	<!ATTLIST module    name            CDATA			#REQUIRED>
	<!ATTLIST module    release         CDATA			#REQUIRED>
	<!ATTLIST requires  module          CDATA			#REQUIRED>
]>

<!--
	<< THIS FILE IS DESIGNED FOR TESTING PURPOSES ONLY >>
-->

<configuration>
	<exception
		log="true"
		alert="true"
		catch="false"
		requires="JSTools.Web.Diagnostics"
		type="JSTools.Config.ExceptionHandling.JSExceptionSectionHandlerFactory, JSTools.Config" />

	<scripts
		version="1.3"
		language="javascript"
		debug="true"
		source="/aspnet_client/jscript_web/"
		type="JSTools.Config.ScriptFileManagement.JSScriptFileSectionHandlerFactory, JSTools.Config">

		<!--
			Each module will render directly accomodated files only. A module will be rendered in following order.
			At first, the parent module will be rendered. After that, all required modules will be written into
			the output stream and at least the values of the current module will be streamed to the client.

			The script files are rendered in the sort order, as you have specified them.
		-->
		<module name="JSTools">
			<file src="Core.js" />
			<file src="Object.js" />
			<file src="Function.js" />
			<file src="Array.js" />
			<file src="String.js">
				<![CDATA[ This is the string package. ]]>
			</file>

			<file src="ObjectManager.js" />
			<file src="ObjectManagerEntry.js" />
			<file src="TypeManager.js" />

			<module name="Data">
				<file src="BaseTableElement.js" />
				<file src="HtmlTableColumn.js" />
				<file src="HtmlTableGenerator.js" />
				<file src="HtmlTableRow.js" />
			</module>
			
			<module name="Enum">
				<file src="FlagsEnum.js" />
				<file src="IEnum.js" />
				<file src="StringEnum.js" />
			</module>

			<module name="Event">
				<file src="BaseEventContainer.js" />
				<file src="ElementEvent.js" />
				<file src="EventArgument.js" />
				<file src="EventContainer.js" />
				<file src="EventItem.js" />
				<file src="EventSubject.js" />
				<file src="IEventArgument.js" />
			</module>

			<module name="Reflection">
				<file src="Type.js" />
			</module>

			<module name="Timer">
				<file src="TimerCallBack.js" />
				<file src="TimerThread.js" />
				<file src="TimerThreadPool.js" />
			</module>

			<module name="Web">
				<module name="Browser">
					<file src="BrowserInfo.js" />
					<file src="BrowserType.js" />
				</module>

				<module name="Cookie">
					<file src="CookieHandler.js" />
					<file src="CookieMultiValue.js" />
				</module>

				<module name="Diagnostics">
					<file src="ConsoleErrorMessage.js" />
					<file src="ConsoleMessage.js" />
					<file src="ConsoleStyle.js" />
					<file src="ConsoleWriter.js" />
					<file src="Exception.js" />
					<file src="TypeVisualizer.js" />
				</module>

				<module name="Form">
					<requires module="JSTools.Web.Layer" />

					<file src="FormValidator.js" />
				</module>

				<module name="Layer">
					<file src="BaseLayerConstructor.js" />
					<file src="BaseLayerGetter.js" />
					<file src="BaseLayerSetter.js" />
					<file src="BaseModelFactory.js" />
					<file src="ILayerValueContainer.js" />
					<file src="LayerClip.js" />
					<file src="LayerContainer.js" />
					<file src="LayerEvents.js" />
					<file src="LayerFactoryDescription.js" />
					<file src="LayerHandler.js" />
					<file src="LayerOriginalValues.js" />

					<module name="DOM">
						<file src="DomLayerConstructor.js" />
						<file src="DomLayerGetter.js" />
						<file src="DomLayerSetter.js" />
						<file src="DomModelFactory.js" />
					</module>

					<module name="IE">
						<requires module="JSTools.Web.Layer.DOM" />

						<file src="IeLayerConstructor.js" />
						<file src="IeLayerGetter.js" />
						<file src="IeModelFactory.js" />
					</module>
				</module>

				<module name="Util">
					<file src="ImageContainer.js" />
				</module>

				<module name="Window">
					<file src="WindowErrorArgument.js" />
					<file src="WindowEvent.js" />
					<file src="WindowOpener.js" />
					<file src="WindowOptions.js" />
				</module>
			</module>
		</module>
	</scripts>
</configuration>